body{
    background: linear-gradient(25deg,red,lime);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items: center;
}
#box{
    display:grid;
    grid-template-rows: 70px 40px 40px 40px,;
    gap:30px;
    background:rgb(255, 255, 255);
    height:500px;
    width:400px;
    padding:40px;
    opacity: 0.89;
    border-radius: 30px;
    position:relative;
    overflow: hidden;
    box-shadow: 0 0 30px rgb(0, 0, 0);
}
.b1:hover{
    text-shadow:0 0 30px plum;
    transform:translateX(5px)
}
#box:hover{
    transform: scale(45px);
    box-shadow: 0 0 75px rgb(172, 247, 237);
}
.b1{
    padding:20px;
}
#b11{
    width:300px;
    border-radius: 10px;
}
#b111{
    width:300px;
    border-radius: 10px;
}
#b11:hover{
    box-shadow: 0 0 30px plum;
}
#b111:hover{
    box-shadow:  0 0 30px plum;
}
#black{
    text-overflow: hidden;
    font-size: 20px;
}
#btn{
    padding:10px;
    height:40px;
    width:85px;
    position:relative;
    bottom:50px;
    left:275px;
    background-color: black;
    color:white;
    font-size:20px;
    border-radius: 15px;
    
}
#btn:hover{
    transform: scale(20px);
    border: crimson 3px ridge ;
    box-shadow: 0 0 40px yellow;
}